//  font-family 'Lucida Grande','Hiragino Kaku Gothic ProN' Meiryo, sans-serif
html, body
  font-family Quicksand, '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif
  height 100%

#wrapper
  height 100%

nav
  height 100%

#top-title
  position absolute
  margin 0
  padding 0

.top>*
  width 25% !important
  height 100%
  display table
  text-align center
  color white

.flex
  display flex
  width 100%
  text-align center
  background gray
  flex-wrap wrap
  align-content flex-start


.table-cell
  display table-cell
