html, body
  height 100%

#wrapper
  height 100%


nav
  height 80%

footer
  height 20%

#top-title
  position absolute
  margin 0
  padding 0

.flex
  display flex
  width 100%
  text-align center
  background gray

.table-cell
  display table-cell
