doctype html
- var pac = {'title': 'undefined title', 'styles': [], 'scripts': [], 'templates': []};
block vars

html
    include head pac
    body
        #wrapper
            block content
    include foot
