extends element

block vars
    - var elementName = 'test-element'
    - var elementAttributes = 'message'

block element
    template
      p#check-polymer {{message}} Polymer!
    script.
        Polymer('test-element', {
            message: 'Yahello'
        })

