block vars
    - var head = {'title': 'elzup.com', 'styles': ['/style/core.css'], 'scripts': [], templates: ['/elements/card-element']}
extends templates/_include/layout.jade
block content
    p Yahello
    card-element(name="カードタイトル", description="詳細分")

